<%= form_for(@support_request) do |f| %>
  <% if @support_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@support_request.errors.count, "error") %> prohibited this support_request from being saved:</h2>

      <ul>
      <% @support_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :creator_id %><br>
    <%= f.text_field :creator_id %>
  </div>
  <div class="field">
    <%= f.label :handler_id %><br>
    <%= f.text_field :handler_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :request_state_id %><br>
    <%= f.text_field :request_state_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
