<p>
  <strong>Created Date:</strong>
  <%= @support_request.created_at.to_date %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @support_request.creator.fullname %>
</p>

<p>
  <strong>Last Agent:</strong>
  <%= @support_request.handler.try(:fullname) %>
</p>

<%= form_for(@support_request) do |f| %>
  <% if @support_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@support_request.errors.count, "error") %> prohibited this support_request from being saved:</h2>

      <ul>
      <% @support_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :product, "Choose the product which needs support" %><br>
    <%= f.collection_select :product_id, Product.order(:name),:id,:name, selected: @support_request.product_id %>
  </div>
  <div class="field">
    <%= f.label :request_state_id, "Request State" %><br>
    <%= f.collection_select :request_state_id,RequestState.order(:id),:id,:name,selected: @support_request.request_state_id %>
  </div>
  <div class="field">
    <%= f.label :description, "Update Problem Description" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
