<h1>Add additional information for this Support Request</h1>

<p>
  <strong>Product:</strong>
  <%= @support_request.product.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @support_request.title %>
</p>

<p>
  <strong>Request state:</strong>
  <%= @support_request.request_state.name %>
</p>

<p>
  <strong>Update :</strong>
  <%= @support_request.request_state.name %>
</p>

<%= form_for(@support_request, url: customer_path(@support_request.id), method: :put) do |f| %>
  <div class="field">
    <%= f.label :description, "Update Problem Description" %><br>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<strong>Update History:</strong>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>User</th>
      <th>State Change</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @support_request.support_logs.each do |support_log| %>
      <tr>
        <td><%= support_log.created_at.to_date %></td>
        <td><%= support_log.user.customer? ? support_log.user.fullname : "Customer Support Agent" %></td>
        <td><%= support_log.request_state.name %></td>
        <td><%= support_log.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', customers_path %>
